{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="limiter">
    <div class="container-login100 page-background">
        <div class="wrap-login100">
            <form action="{% url 'stuff_register' %}" method="POST">
                {% csrf_token %}
                
                <span class="login100-form-logo">
                    <img alt="" src="{% static 'img/logo-2.png' %}">
                </span>
                <span class="login100-form-title p-b-34 p-t-27">
                    Registration
                </span>
                <div class="row">
                    <div class="col-lg-6 p-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            {{ form.username }}
                            <i class="material-icons focus-input100 text-warning">people</i>
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Enter email">
                            {{ form.email }}
                            <i class="material-icons focus-input100 text-warning">mail</i>
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            {{ form.password1 }}
                            <i class="material-icons focus-input100 text-warning">fingerprint</i>
                        </div>
                    </div>
                    <div class="col-lg-6 p-t-20">
                        <div class="wrap-input100 validate-input" data-validate="Enter password again">
                            {{ form.password2 }}
                            <i class="material-icons focus-input100 text-warning">fingerprint</i>
                        </div>
                    </div>
                </div>
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>
                <div class="text-center p-t-30">
                    <a class="txt1" href="{% url 'stuff_login' %}">
                        You already have a membership?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}